.container {
  margin: 0 auto 20px;
  padding: 20px 10px;

  max-width: 800px;

  background-color: #fff;
  border: 1px solid teal;
  border-radius: 5px;
  box-shadow: 1px 3px 10px -4px #050505;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  color: rgb(111, 121, 124);
  font-size: 15px;
  line-height: 20px;
}

.label:not(:last-child) {
  margin-bottom: 10px;
}

.input {
  display: block;
  padding: 5px 5px;

  border-color: teal;
  border-radius: 5px;
}

.input:focus,
.input:focus-visible,
.input:active {
  display: block;
  padding: 5px 5px;

  border-color: red;
  outline-color: red;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  width: 180px;

  margin-top: 40px;

  border: 0.1em solid #353434;

  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: teal;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #000000;
  background-color: #92f9f952;
  box-shadow: 1px 3px 10px -4px #050505;
}
